@import 'tailwindcss';
@import 'uniwind';

@import 'heroui-native/styles';

@source './node_modules/heroui-native/lib';

/* @theme {
    --color-l: rgb(246, 0, 0);
    --color-background: rgb(30, 30, 30);
    --color-inner-background: rgb(105, 95, 95);
    --color-text: #000;
    --color-muted-text: #a0a0a0;
    --color-accent-hover: #5aa85a;
    --color-highlight: #8cc88c;
    --color-border: #666666;
    --color-subtle-border: #444444;
    --color-inverted-sections: #f0f0f0;
} */

@theme {

   --color-outer-background: rgb(30, 30, 30);
   --color-accent: #9a7a33;
   --color-accent-light: #d9b458;
   /* --color-accent: #C39f27; */
   --color-accent-hover: #aa8a43;
   --color-accent-hoverOLD: #d3af37;
   --color-text: #1a1a1a;
   --color-text-inverted: #ffffff;


   --color-l: rgb(246, 0, 0);
   --color-background: rgb(165, 159, 150);
   --color-inner-background: rgb(165, 159, 150);
   --color-background-inner: rgb(165, 159, 150);

   
   --color-background-light: rgb(165, 159, 150);

    --color-muted-text: #888888;
    /* --color-accent-hover: #3a6a3a; */
    --color-highlight: #7cb87c;
    --color-border: #1a1a1a;
    --color-subtle-border: #0005;
    --color-inverted-sections: #1a1a1a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}